.comments-container {
    max-width: 250px;
    margin: 0 auto;
}

.comments-container button {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url('../fonts/arcade.ttf') format('truetype');
}

.comments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #000;
    max-height: 75%;
}

.comments-table th, .comments-table td {
    padding: 8px;
    border: 3px solid #000;
    font-family: 'ArcadeClassic', cursive;
}

.comments-table th {
    background-color: white;
    text-align: center;
    font-size: 15px;
}

.comments-table tbody tr:nth-child(even) {
    background-color: gainsboro;
}

.comments-table tbody tr:hover {
    background-color:  #FCD000;
}

.comments-table td {
    word-break: break-word;
    max-width: 300px;
}

.comments-table th:nth-child(1) {
    background-color: #E71E08; /* Tomato */
    width: 25%;
}

.comments-table th:nth-child(2) {
    background-color: #009DDB; /* Sky Blue */
    width: 50%;
}

.comments-table th:nth-child(3) {
    background-color: #42B132; /* Light Green */
    width: 25%;
}


.comments-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; /* Ensure it's above other content */
}

.comments-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.comments-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    z-index: 1001; /* Ensure it's above the overlay */
    height: 75%;
}

.close-comments-button {
    position: absolute;
    top: 10px; /* Adjust as needed for vertical positioning */
    right: 10px; /* Adjust as needed for horizontal positioning */
    height: 30px; /* Adjust button height */
    width: 30px; /* Adjust button width */
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'ArcadeClassic', cursive;
    font-size: 20px;
    color: #000; /* Set the color of the button */
    transition: color 0.3s ease; /* Add transition effect for color change */
}

.close-comments-button:hover {
    color: red; /* Change button color on hover */
}

.showButton {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 5px solid #000000;
    background-color: #009DDB;
    color: #fff;
    border-radius: 0;
    font-family: 'ArcadeClassic', sans-serif;
    transition: background-color 0.3s ease;
    font-size: 15px;
    cursor: pointer;
}

.showButton:hover {
    background-color: #0056b3;
}

/*.pagination {*/
/*    position: absolute;*/
/*    bottom: 50px; !* Adjust this value to your desired distance from the bottom *!*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

.comment-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; /* Adjust padding as needed */
    background-color: #f9f9f9; /* Example background color */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Example box shadow */
    box-sizing: border-box;
}