.comment-form-container {
    width: auto;
    height: auto;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-form {
}

.comment-text-area {
    resize: none;
    width: 100%;
}

.comment-form-container button {
    font-family: 'ArcadeClassic', sans-serif;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: #FCD000;
    border: 3px solid #000000;
}

.comment-form-container button:hover {
    background-color: yellow;
    animation: pulse 0.5s ease infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}