.game-field {
    border-collapse: collapse;
}

.game-field td {
    width: 30px;
    height: 30px;
    padding: 0;
}

.field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.stats {
    display: flex;
    justify-content: center;
    font-size: 25px;
}