.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container2 {
    margin: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.field-container {
    position: relative; /* Make the container relative */
    display: flex;
    align-items: center;
}

.score {
    position: absolute; /* Position the stats container */
    top: 50%; /* Align to the vertical center */
    right: 110%; /* Push stats to the right */
    transform: translateY(-50%); /* Adjust for vertical alignment */
}

.toolbar {
    width: 450px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.classic-game {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.classic-game button {
    margin-right: 10px;
}

.lives {
    position: absolute; /* Position the stats container */
    top: 50%; /* Align to the vertical center */
    left: 110%; /* Push stats to the right */
    transform: translateY(-50%); /* Adjust for vertical alignment */
}

.score h3 {
    font-size: 35px;
}

.lives h3 {
    font-size: 35px;
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url('../fonts/arcade.ttf') format('truetype');
}

.toolbar select {
    background-color: #FCD000;
    width: 35%;
    padding: 10px;
    margin: 10px;
    border: 5px solid #000000;
    border-radius: 0;
    font-family: 'ArcadeClassic', sans-serif;
    cursor: pointer;
}

.toolbar button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 5px solid #000000;
    background-color: #009DDB;
    color: #fff;
    border-radius: 0;
    font-family: 'ArcadeClassic', sans-serif;
    transition: background-color 0.3s ease;
    font-size: 15px;
    cursor: pointer;
}

.toolbar button:hover {
    background-color: #0056b3;
}

.score h3, .lives h3 {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
}

.star, .heart {
    margin-left: 5px; /* Adjust the spacing between the number and the image */
    height: auto; /* Maintain aspect ratio */
    animation: floatUpDown 2s infinite alternate-reverse ease-in-out;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 450px;
}

.you-won-message,
.you-lost-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem; /* Adjust size as needed */
    z-index: 1000;
    color: #ffffff; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
    text-align: center;
    animation-duration: 2s; /* Duration of the animation */
    animation-iteration-count: infinite; /* Repeat the animation infinitely */
}

.you-won-message {
    background-color: rgba(0, 255, 0, 0.7); /* Green background color for "You Won" message */
    padding: 20px 40px; /* Adjust padding as needed */
    animation-name: rollAndWave;
}

.you-lost-message {
    background-color: rgba(255, 0, 0, 0.7); /* Red background color for "You Lost" message */
    padding: 20px 40px; /* Adjust padding as needed */
    animation-name: rollAndWave;
}

@keyframes rollAndWave {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}