@font-face {
    font-family: 'ArcadeClassic';
    src: url('../fonts/arcade.ttf') format('truetype');
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid #000000;
    border-radius: 0;
    background-color: #f9f9f9;
    font-family: 'ArcadeClassic', sans-serif;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    display: block;
    width: calc(100% - 50px);
    padding: 10px;
    margin: 10px;
    border: 5px solid #000000;
    border-radius: 0;
    font-family: 'ArcadeClassic', sans-serif;
}

.login-container button {
    background-color: #009DDB;
    color: #fff;
    width: calc(100% - 20px);
    cursor: pointer;
    border: 5px solid #000000;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.login-container button:hover {
    background-color: #0056b3;
    animation: pulse 0.5s ease infinite alternate
}

.login-container p {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

.error-container {
    margin: 0 auto;
}