.scores-container {
    max-width: 250px;
    margin: 0 auto;
}

.scores-container button {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.scores-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #000;
}

.scores-table th, .scores-table td {
    padding: 8px;
    border: 3px solid #000;
}

.scores-table th {
    background-color: #009DDB;
    text-align: center;
    font-size: 15px;
}

.scores-table tbody tr:nth-child(even) {
    background-color: gainsboro;
}

.scores-table tbody tr:hover {
    background-color:  #FCD000;
}

.scores-table td {
    word-break: break-word;
    max-width: 300px;
}

.scores-table th:nth-child(1) {
    background-color: #E71E08;
    width: 33.33%;
}

.scores-table th:nth-child(2) {
    background-color: #42B132;
    width: 33.33%;
}

.scores-table th:nth-child(3) {
    background-color: #FCD000;
    width: 33.33%;
}

.scores-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.scores-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.scores-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    z-index: 1001;
}

.close-scores-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'ArcadeClassic', cursive;
    font-size: 20px;
    color: #000;
    transition: color 0.3s ease;
}

.close-scores-button:hover {
    color: red;
    animation: pulse 0.5s ease infinite alternate
}

.showButton {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 5px solid #000000;
    background-color: #FCD000;
    color: black;
    border-radius: 0;
    font-family: 'ArcadeClassic', sans-serif;
    transition: background-color 0.3s ease;
    font-size: 15px;
    cursor: pointer;
}

.showButton:hover {
    background-color: yellow;
    animation: pulse 0.5s ease infinite alternate
}